@tailwind base;
@tailwind components;
@tailwind utilities;

.element {
  @apply bg-gray-800 text-red-950;
}
svg path {
  @apply fill-top-agrar-green;
}
svg path:hover {
  @apply fill-top-agrar-green/80;
}
#yearFilter,
#type {
  border: 1px solid #aaa;
  background-color: transparent;
  border-radius: 3px;
}
.click {
  @apply text-top-agrar-green;
}
.w-500 {
  width: 500px;
}
.h-600 {
  height: 600px;
}
