@tailwind base;
@tailwind components;
@tailwind utilities;

.element {
  @apply bg-gray-800 text-red-950;
}
svg path {
  @apply fill-top-agrar-green;
}
svg path:hover {
  @apply fill-top-agrar-green/80;
}
#yearFilter,
#type {
  border: 1px solid #aaa;
  background-color: transparent;
  border-radius: 3px;
}
.to-compare {
  @apply text-top-agrar-green;
}
.compare-border {
  @apply border-2;
  @apply border-top-agrar-green;
  border-radius: 50%;
}
.w-300 {
  width: 300px;
}
.h-400 {
  height: 400px;
}
.scrolable-container {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: fit-content;
  display: flex;
  justify-content: start;
  
  @apply border-r border-slate-400;
}
.scrolable-container::-webkit-scrollbar {
  display: none;
}
.compare-column {
  transition: transform 0.3s ease-in-out;
  @apply flex flex-col min-w-40;
  scroll-snap-align: start;
  flex-shrink: 0;
}
.compare-header {
  @apply border-l border-slate-400 w-52 flex flex-col min-w-52;
}
.compare-cell {
  @apply border-t border-slate-400 h-11 pl-2 flex items-center;
}
.compare-cell:nth-child(odd) {
  background-color: #e0ede5;
}
.compare-cell:last-child {
  @apply border-b;
}
.compare-name {
  @apply  h-11 pl-2 border-r border-slate-500;
}
