@tailwind base;
@tailwind components;
@tailwind utilities;

.element {
  @apply bg-gray-800 text-red-950;
}
svg path {
  @apply fill-top-agrar-green;
}
svg path:hover {
  @apply fill-top-agrar-green/80;
}
#yearFilter,
#type {
  border: 1px solid #aaa;
  background-color: transparent;
  border-radius: 3px;
}
.to-compare {
  @apply text-top-agrar-green;
}
.compare-border {
  @apply border-2;
  @apply border-top-agrar-green;
  border-radius: 50%;
}
.w-300 {
  width: 300px;
}
.h-400 {
  height: 400px;
}

.compare-row {
  border-top: 1px solid #c9cacb;
  height: 44px;
  font-size: 16px;
  align-items: center;
  display: flex;
}
.compare-row:nth-child(even) {
  background-color: #e0ece4;
}
.compare-cell {
  padding: 4px;
  width: 150px;
}
.compare-title {
  width: 200px;
  font-weight: 600;
  padding: 4px;
  padding-left: 6px;
}
.compare-content {
  display: flex;
}
@media screen and (max-width: 768px) {
  .compare-row {
    display: block;
    height: 64px;
  }
  .compare-content {
  }
  #compare {
    width: 90vw;
    border: 1px solid #c9cacb;
  }
  .compare-row {
    border: none;
  }
  .compare-row:nth-child(even) {
    background-color: transparent;
  }
  .compare-cell {
    display: flex;
    justify-content: center;
    width: 45vw;
    /* border-left: 1px solid #c9cacb;
    border-right: 1px solid #c9cacb; */
  }
  .compare-title {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e0ece4;
  }
}
